@-webkit-keyframes moveUpDown {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}

@keyframes moveUpDown {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}