* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  font-family: $font-family;
  overflow-x: hidden;
}

.site,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-orange;
  transition: 0.15s ease-out;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    line-height: 1;
    border-radius: 7px;
    transition: 0.15s ease-out;

    &--primary {
        color: $color-white;
        background: $color-orange;

        &:hover {
            background: $color-orange-dark;
            color: $color-white;
        }
    }

    &--secondary {
        background: transparent;
        border: 3px solid $color-orange;
        color: $color-orange;

        &:hover {
            color: $color-orange-dark;
            border-color: $color-orange-dark;
        }
    }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}