section.section.goal 
    .container 
        .goal__inner 
            .goal__img-wrapper
                img.goal__img(src="./img/nathan-carter.png" alt="Nathan Carter")
            .goal__content
                p.goal__text We combine experience, innovation and high quality standards so that each project not only meets expectations, but also exceeds them. Our goal is to build a future in which people can confidently live, develop and reach new heights.
                .goal__info
                    .goal__signature-wrapper
                        img.goal__signature(src="./img/signature.png" alt="Signature")
                    .goal__person
                        h3.goal__name Nathan Carter
                        p.goal__position Chief Project Consultant