section.section.hero 
    .hero__inner 
        .hero__content 
            h1.hero__title
                | Building 
                span A Better Future
            .hero__description 
                span Honest & Reliable Contractors
                span Since 2018
            .hero__buttons
                a.btn.btn--primary(href="#") Explore Our Projects
                a.btn.btn--secondary(href="#") Contact Us